.stopwatch {
    justify-content: center;
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.stopwatch h1 {
    margin: 0;
    color: white;
}

.timer {
    font-size: 96px;
    width: auto;
    text-align: center;
    color: white;
}

.controlButtonsContainer {
    height: 96px;
    position: relative;
}

.startPauseButton {
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 96px;
    padding: 8px;
    background: rgb(82, 20, 163);
    background: rgb(93, 33, 233);
    color: white;
    border-radius: 50%;
    border: 0px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.resetButton {
    padding: 8px;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background: #030320;
    color: white;
    border-radius: 50%;
    border: 0px;

    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(0, -50%);
}